.menuOpen {
    display: block;
    max-height: 300px; /* Ajusta según sea necesario */
    transition: max-height 0.5s ease-out;
    overflow: hidden;
  }
  
  .menuClosed {
    display: block;
    max-height: 0;
    transition: max-height 0.3s ease-in;
    overflow: hidden;
  }
  
